.movie-card {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  
    img {
      width: 100%;
      height: auto;
      min-width: 14.31rem;
      min-height: 25.25rem;
  
    }
  
    > div {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
  
      display: flex;
      justify-content: center;
  
      background: rgba(31, 34, 41, 0.5);
  
      .movie-info {
        max-width: 88%;
        width: 100%;
  
        display: flex;
        flex-direction: column;
  
        > span {
          font-weight: 600;
          font-size: 1rem;
          color: #fbfbfb;
  
          margin-top: auto;
          margin-bottom: 0.5rem;
        }
  
        .meta {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
  
          margin-bottom: 1rem;
  
          div {
            display: flex;
            align-items: center;
  
            font-weight: 600;
            color: var(--gray);
  
            svg {
              color: #fae800;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 1250px) {
    .movie-card {
      max-width: 20.31rem;
      max-height: 27.25rem;
    }
  }