.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  main {
    width: 100%;
    margin-top: 5.625rem;
  
    .movies-list {
      display: grid;
      grid-template-columns: (1fr);
      grid-gap: 4.75rem;
      list-style: none;
    }
  
    @media screen and (min-width: 768px) {
      .movies-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4.75rem;
      }
    }
  
    @media screen and (min-width: 1250px) {
      .movies-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4.75rem;
      }
    }
  
    @media screen and (min-width: 1500px) {
      .movies-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4.75rem;
      }
    }
  }