nav.sidebar-container {
    max-width: 22rem;
    width: auto;
    position: absolute;
    z-index: 8;
    top: 2rem;
    left: 3rem;
  
    > span {
      margin-left: 5rem;
      font-size: 3rem;
      font-weight: 600;
      color: var(--yellow);
  
      p {
        display: inline;
        color: var(--white);
      }
    }
  
    div.sidebar {
      position: relative;
      display: flex;
      flex-direction: column;
  
      align-items: center;
  
      max-width: 22rem;
      width: 22rem;
  
      padding: 2rem;
  
      background: var(--background2);
  
          .buttons-container {
        display: flex;
        flex-direction: column;
  
        width: 100%;
      }
    }
  
    .sidebar-button {
      position: absolute;
      padding: 0.313px;
      width: 3rem;
      height: 3rem;
      background: var(--background-button2);
      color: var(--yellow);
      top: 1rem;
      left: 0;
      z-index: 9;
  
      border-right: 5px solid var(--background);
      border-bottom: 5px solid var(--background);
      border-radius: 1px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      font-weight: bold;
      overflow: hide;
  
      cursor: pointer;
  
      img, svg {
        width: 2rem;
      }
    }
  
    nav.sidebar-container {
      top: 0;
      left: 0rem;
    }
  
    .hide {
      display: none;
    }
  
    .bt-right {
      right: 0rem;
    }
  }